@use "../base/variables" as v;

.header-mobile {
    height: 8rem;
    width: 100%;
    background-color: v.$color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    &__brand-logo {
        font-size: 2rem;
        font-weight: bold;
        font-style: italic;
        color: v.$color-white;
        span {
            color: v.$color-secondary;
        }
    }
    &__menu-logo {
        font-size: 3rem;
        color: v.$color-white;
    }
}
